*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
header h1{
	font-weight:lighter;
	text-align:center;		
	margin-top:2vh;	
	padding:1vw;
}
/*estilo do card container*/
#box-container {
display:flex;
width:100%;
flex-flow:row wrap;	
margin-top:2vh;
}
#box-container section {
	margin:1vw auto;
}

#box-container #card-container:last-child {
	margin:1.5vw;
}

/*Estilos dos cards*/
#card{
	width:46vw;
	border:.5vw solid #ff3385;
	border-radius: 2vw;
	
}
#card img{
	width:95%;
	display:block;
	margin:2% auto;
	border-radius: 2vw;	
}
#card p{
	padding:3vw;
	font-size:4vw;
	text-align:center;	
}
#card a{
	text-decoration:none;
	color:#ff3385;
}

/*estilos do Banner*/
#banner{
	width:99vw;
margin:1vh auto;
}
#banner img{
	width:100%;
	margin-top:1vh;
}
#banner h2{
	font-weight:lighter;
	text-align:center;
	padding:2vw;
	color:#ff3385;
}
#banner #b_social {
	text-align:center;
	padding:2vw;

}
#banner #b_social a{
	text-decoration:none;
	color:#ff3385;
	padding:10px;				
}
#banner #b_social img{
	width:7.5%;
}
#bot-volta {
	text-align:center;
	margin: 2vh auto;		
}
#bot-volta a{
	text-decoration:none;
	color:white;
	background-color:#ff3385;
	padding:2.5vw 5vw;
	font-size: 4vw;
}